*{
    margin: 0;
    padding: 0;
    text-align: center;
    box-sizing: border-box;
}
main{
    display: grid;
    place-content: center;
    
    width: 100vw;
    height: 100vh;
    background-color: rgb(255, 255, 255);
}
p{
    background-color: rgb(113, 255, 113);
    border-radius: 35px;
    padding: 1rem;
}
a{
    color: white;
    background-color: black;
    border-radius: 35px;
    padding: .8vmin;
}
span{
    font-size: 1rem;
}
h1{
    margin: 2rem;
}
